/* 
    Created on : 09-may-2016
    Author     : dchaves
*/

.brand-logo{
    margin-left: 15px !important;
}

a {
    cursor:pointer;
}

.container {
    width: 90% !important;
}

body{
    background-color:#c6e0e8;
}

#boton{
    margin-top: 20px !important;
}

.cardsText{
    margin-top: 10px;
    text-align: justify;
}

.cardTitles{
    font-size: 18px;
    font-weight: bold;
    text-decoration: underline;
}

.antecedent {
    height: 200px;
}

tr > td {
  padding-bottom: 0.5em;
  padding-top: 0.5em;
}

.row-hover {
   background-color: #f2f2f2;
}

.highcharts-container {
    margin: auto;
}

