/* 
    Created on : 09-may-2016
    Author     : dchaves
*/

.brand-logo{
    margin-left: 15px !important;
}

a {
    cursor:pointer;
}

.odata{
    font-size: 150% !important;
}

.container {
    width: 90% !important;
}

.liI{
    margin-bottom: 10px !important;
}

body{
    background-color:#c6e0e8;
}

#boton{
    margin-top: 20px !important;
}

tr > td {
  padding-bottom: 0.5em;
  padding-top: 0.5em;
}

.row-hover {
   background-color: #f2f2f2;
}

.highcharts-container {
    margin: auto;
}

